.MidPart
{
    display: inline-block;
    width: 60%;
    box-sizing: border-box;
    padding: 0 1.5rem;
}

@media (max-width: 1455px)
{
    .MidPart
    {
        width: 77.5%;
    }
}

@media (max-width: 1000px)
{
    .MidPart
    {
        width: 100%;
        padding: 0.5rem;
    }
}
