@import "../../Static/Style/Button.module";
@import "../../Static/Style/TextInput.module";

.Login
{
    width: 60%;
    max-width: 1455px;
    margin:
    {
        top: 1.5rem;
        left: auto;
        right: auto;
    }
    text-align: center;

    .inputWrapper
    {
        width: 40%;
        box-sizing: border-box;
        margin: 1rem auto;
        text-align: left;
    }

    .icon
    {
        position: relative;
        top: 1.75rem;
        left: 0.75rem;
        color: #666;
    }

    .loginInput
    {
        @extend .TextInput;
        padding-left: 2.25rem;
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
    }

    .submitButton
    {
        @extend .PrimaryButton;
        @extend .LargeButton;
        display: block;
        width: 40%;
        box-sizing: border-box;
        margin: 3rem auto;
    }
}

@media (max-width: 1000px)
{
    .Login
    {
        width: 90%;
    }
}

@media (max-width: 750px)
{
    .Login
    {
        .inputWrapper, .submitButton
        {
            width: 100%;
        }
    }
}
