@import "../../Static/Button.module";
@import "../../Static/ArticleContent.module";

.Article {
    @extend .ArticleContent;
    margin: 2rem auto;
    width: 60%;
    padding: 1rem 2rem;
    border: 1px solid #DDD;
    border-radius: 0.25rem;
    user-select: none;
    max-width: 1455px;
    min-height: 100%;

    .articleTitle {
        text-align: center;
        font: {
            size: 2rem;
            family: $serif;
            weight: bold;
        }
        margin-bottom: 1rem;
    }

    .articleBtnWrapper {
        display: inline-block;
        margin: 0.5rem 0 1rem 0;
    }

    .articleModifyBtn {
        @extend .btn-primary;
        margin-right: 1rem;
    }

    .articleDeleteBtn {
        @extend .btn-danger;
    }

    .articleInfo {
        display: inline-block;
        float: right;
        padding: 0.25rem 1.5rem;
        height: 2rem;
        line-height: 2rem;
        margin: 0.5rem 0 1rem 0;
        background-color: #46AFE8;
        background: linear-gradient(to left, #369FD8, #46AFE8);
        color: #FFF;
        position: relative;
        left: 2rem;
    }

    .articleInfoTriangle {
        width: 0;
        height: 0;
        background: transparent;
        border: {
            top: 1.25rem solid transparent;
            bottom: 1.25rem solid transparent;
            right: 1.25rem solid #46AFE8;
        }
        display: inline-block;
        position: absolute;
        right: 100%;
        top: 0;
    }

    .articleInfo {
        .articleTime {
            display: inline-block;
            margin-right: 1rem;
        }

        .articleType {
            display: inline-block;
        }
    }

    .timelinessReminderWrapper {
        clear: both;
        margin-bottom: 1rem;
    }

    .articleContent {
        clear: both;
        line-height: 1.75rem;
        color: #333;
        user-select: none;
        text-align: justify;
        margin-bottom: 5rem;
    }

    .articleFunctionButtonWrapper {
        margin-bottom: 4rem;
    }

    .articleFooter {
        img {
            display: inline-block;
        }
    }
}

@media (max-width: 800px) {
    .Article {
        width: 95%;
        padding: 0;
        margin: 2rem auto;
        border: none;

        .articleBtnWrapper {
            display: none;
            box-sizing: border-box;
        }

        blockquote {
            padding: 0;
        }
    }
}

@media (max-width: 400px) {
    .Article {
        .articleInfo {
            display: block;
            float: none;
            position: static;
            padding: 0.25rem 1.5rem;
            height: 2rem;
            line-height: 2rem;
            margin: 0.5rem 0 1rem 0;
            background-color: #46AFE8;
            background: linear-gradient(to left, #369FD8, #46AFE8);
            color: #FFF;
            text-align: center;
        }

        .articleInfoTriangle {
            display: none;
        }

        .articleTitle {
            font-size: 1.5rem;
        }

        th, td {
            padding: 0;
        }
    }
}
