.ToTopButton .button
{
    position: fixed;
    bottom: 5%;
    right: 2%;
    border: 1px solid #333;
    border-radius: 2rem;
    background-color: #FFF;
    opacity: 0.5;
    transition: 0.5s;
    width: 3rem;
    height: 3rem;
    outline: none;
    cursor: pointer;
}

.ToTopButton .button:hover
{
    opacity: 1;
}

.ToTopButton .toTopButtonTransition-enter
{
    opacity: 0;
}

.ToTopButton .toTopButtonTransition-enter.toTopButtonTransition-enter-active
{
    opacity: 0.5;
    transition: 250ms;
}

.ToTopButton .toTopButtonTransition-leave
{
    opacity: 0.5;
}

.ToTopButton .toTopButtonTransition-leave.toTopButtonTransition-leave-active
{
    opacity: 0;
    transition: 250ms;
}

