.Base64Converter
{
    width: 50%;
    margin: 2rem auto;
}

.Base64Converter .originalTextWrapper, .Base64Converter .textWrapper
{
    width: 100%;
    text-align: center;
}

.Base64Converter .originalTextHeader, .Base64Converter .textHeader
{
    text-align: center;
    color: #333;
    font-size: 1.5rem;
    font-family: 'Noto Serif CJK SC', '思源宋体 CN', serif;
    font-weight: bold;
    margin-bottom: 1rem;
}

.Base64Converter .originalText, .Base64Converter .base64Text
{
    resize: none;
    width: 100%;
    height: 8rem;
    text-align: justify;
    padding: 1rem;
    border: 1px solid #DDD;
    border-radius: 0.25rem;
    outline: none;
    transition: 0.25s;
    overflow: auto;
    box-sizing: border-box;
}

.Base64Converter .originalText:focus, .Base64Converter .base64Text:focus
{
    border: 1px solid #333;
}

.Base64Converter .converterButtonWrapper
{
    text-align: center;
}

.Base64Converter .originalToBase64Btn, .Base64Converter .base64ToOriginalBtn
{
    margin: 2rem 1rem;
    width: 10rem;
}

@media (max-width: 800px)
{
    .Base64Converter
    {
        width: 90%;
    }

    .Base64Converter .originalToBase64Btn, .Base64Converter .base64ToOriginalBtn
    {
        margin: 0.5rem;
        width: 10rem;
    }
}
