.Blog
{
    margin: 2rem auto;
    width: 80%;
    max-width: 1280px;
    box-sizing: border-box;
}

@media (max-width: 1455px)
{
    .Blog
    {
        width: 95%;
    }
}

@media (max-width: 1000px)
{
    .Blog
    {
        width: 100%;
    }
}


.card
{
    width: 100%;
    background-color: #FFF;
    border-radius: 0.25rem;
    box-shadow: 0 0 5px #AAA;
    overflow: hidden;
    user-select: none;
}
