.Blog {
    margin: 2rem 12rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;

    .leftPart {
        flex-grow: 0.1;
        flex-shrink: 0.1;
    }

    .midPart {
        flex-grow: 1;
        flex-shrink: 0.5;
        margin: 0 2rem;
    }

    .rightPart {
        flex-grow: 0.25;
        flex-shrink: 1;
    }

}

@media (max-width: 1455px) {
    .Blog {

        margin: 2rem 6rem;

        .rightPart {
            display: none;
        }
    }
}

@media (max-width: 1000px) {
    .Blog {
        margin: 2rem 0;

        .leftPart {
            display: none;
        }
    }
}
