.FloatMenu
{
    position: absolute;
    transform: translateX(-2.5rem);
    width: 10rem;
    background: #FFF;
    padding: 0 0.5rem;
    border-radius: 0.5rem 0;

    .floatMenuLink
    {
        border-bottom: 1px solid #DDD;

        .TopBarLink
        {
            color: #666;
            transition: 0.25s;

            &:hover
            {
                color: #222;
            }
        }
    }
}
