.MostPopularCardTab
{
    display: inline-block;
    width: 33.333%;
    box-sizing: border-box;
    text-align: center;
    padding: 0.85rem 0;
    background-color: #F8F8F8;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
    transition: 0.125s background-color, color;
    color: #666;
}

.MostPopularCardTab:first-child
{
    border-left: none;
}

.MostPopularCardTab:last-child
{
    border-right: none;
}

.MostPopularCardTab.currentTab
{
    background-color: transparent;
    border-bottom: none;
    color: inherit;
}
