.leftPanelIcon
{
    margin-right: 0.5rem;
    width: 1.25rem !important;
}

.panelLink
{
    display: block;
    text-decoration: none;
    color: #DDD;
    padding: 0.75rem 0 0.75rem 3rem;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.25rem;
    margin: 1rem 0;
    cursor: pointer;
}

.active
{
    background: #EEE;
    border-radius: 1.5rem 0 0 1.5rem;
    transition: 0.25s;
}

.active.panelLink
{
    color: #333;
}
