.ArticleEditor
{
    width: 80%;
    margin: 2rem auto;
    text-align: center;
}

.ArticleEditor .articleTitle
{
    border-radius: 0.25rem;
}

.ArticleEditor .articleTitle, .ArticleEditor .articleContent, .ArticleEditor .articlePreview
{
    border: 1px solid #DDD;
    outline: none;
    transition: 0.25s;
    overflow: auto;
    word-break: break-word;
}

.ArticleEditor .articleTitle:focus, .ArticleEditor .articleContent:focus, .ArticleEditor .articleTypeSelect:focus
{
    border: 1px solid #333;
}

.ArticleEditor .articleTitle
{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3rem;
    font-family: 'Noto Serif CJK SC', '思源宋体 CN', serif;
    font-weight: bold;
    box-sizing: border-box;
}

.ArticleEditor .articleContent, .ArticleEditor .articlePreview
{
    display: inline-block;
    width: 50%;
    height: 30rem;
    box-sizing: border-box;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: justify;
    padding: 1rem 0.75rem;
}

.ArticleEditor .articleContent
{
    resize: none;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.ArticleEditor .articlePreview
{
    background: #FFF;
    user-select: none;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    line-height: 1.75rem;
}

.ArticleEditor .articleTypeSelectWrapper
{
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
}

.ArticleEditor .articleTypeSelect
{
    width: 50%;
    background-color: #FFF;
    outline: none;
    padding: 0.5rem 0.25rem;
    border-radius: 0.25rem;
    transition: 0.25s;
}

.ArticleEditor .articleButtonWrapper
{
    width: 30%;
    display: inline-block;
    box-sizing: border-box;
}

.ArticleEditor .articleSubmitBtn
{
    width: 100%;
}

.ArticleEditor .articlePreview p
{
    text-indent: 2rem;
}

.ArticleEditor .articlePreview ul p
{
    text-indent: 0;
}

.ArticleEditor .articlePreview table
{
    display: block;
    overflow: auto;
    user-select: text;
}

.ArticleEditor .articlePreview table, .ArticleEditor .articlePreview th, .ArticleEditor .articlePreview td
{
    border-collapse: collapse;
}

.ArticleEditor .articlePreview th, .ArticleEditor .articlePreview td
{
    padding: 0.5rem;
    border: 1px solid #AAA;
}

.ArticleEditor .articlePreview blockquote
{
    border-left: 0.5rem #46AFE8 solid;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding: 0 0 0 2rem;
    margin: 0;
    color: #666;
}

.ArticleEditor .articlePreview a
{
    color: #666;
    text-decoration: underline;
    transition: 0.25s;
}

.ArticleEditor .articlePreview a:hover
{
    color: #333;
}

.ArticleEditor .articlePreview pre code
{
    padding: 0.75rem 1.5rem;
    user-select: text;
}

.ArticleEditor .articlePreview pre, .ArticleEditor .articlePreview code
{
    font-family: "Source Code Pro", "Noto Sans Mono", monospace;
    font-size: 0.9rem;
    line-height: 1.25rem;
    border-radius: 0.25rem;
}

.ArticleEditor .articlePreview img
{
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 0.5rem;
    margin: 0 auto;
}

@media (max-width: 750px)
{
    .ArticleEditor .articleContent
    {
        width: 100%;
    }

    .ArticleEditor .articlePreview
    {
        display: none;
    }
}
