@import "../../Static/Style/ArticleContent.module";
@import "../../Static/Style/Button.module";
@import "../../Static/Style/TextInput.module";

.ArticleEditor
{
    @extend .ArticleContent;
    width: 80%;
    margin: 2rem auto;
    text-align: center;

    .articleTitle
    {
        padding: 0;
        display: block;
        width: 100%;
        text-align: center;
        font:
        {
            size: 1.5rem;
            family: $SERIF;
            weight: bold;
        }
        line-height: 3rem;
        box-sizing: border-box;
    }

    .articleContentWrapper {
        display: flex;
        justify-content: space-between;
        margin: 2rem 0;

        .articleContent {
            resize: none;
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
        }

        .articlePreview {
            background: #FFF;
            user-select: none;
            border-top-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
            line-height: 1.75rem;
        }

        .articleContent, .articlePreview {
            width: 49%;
            height: 30rem;
            box-sizing: border-box;
            text-align: justify;
            padding: 1rem 0.75rem;
        }
    }

    .articleTitle, .articleContent, .articlePreview
    {
        @extend .TextInput;
        overflow: auto;
        word-break: break-word;
    }

    .articleTypeSelectWrapper
    {
        width: 50%;
        display: inline-block;
        box-sizing: border-box;
        text-align: left;
    }

    .articleTypeSelect
    {
        width: 50%;
        background-color: #FFF;
        outline: none;
        padding: 0.5rem 0.25rem;
        border-radius: 0.25rem;
        transition: 0.25s;
    }

    .articleButtonWrapper
    {
        width: 30%;
        display: inline-block;
        box-sizing: border-box;
    }

    .articleSubmitBtn
    {
        @extend .LargeButton;
        @extend .PrimaryButton;
        width: 100%;
    }
}

@media (max-width: 750px)
{
    .ArticleEditor
    {
        .articleContent
        {
            width: 100%;
        }

        .articlePreview
        {
            display: none;
        }
    }
}
