.outerWrapper
{
    height: 100%;
    width: 100%;
}

.innerWrapper
{
    margin: 0 auto;
    min-height: 100%;
    animation-name: innerWrapperIn;
    animation-duration: 0.5s;
}

@keyframes innerWrapperIn
{
    0%
    {
        opacity: 0;
        transform: translateY(3rem);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0);
    }
}
