@import "../../../../Static/Card.module";

.ProfileCard
{
    @extend .card;

    min-width: 16rem;

    .profileCardImage
    {
        width: 100%;
        height: 5rem;
        background:
        {
            size: cover;
            position: center;
            repeat: no-repeat;
        }
    }

    .avatarAndNicknameWrapper
    {
        padding: 0 1.5rem;
        transform: translateY(-30%);
    }

    .avatar
    {
        display: inline-block;
        width: 3.6rem;
        height: auto;
        border-radius: 3.6rem;
    }

    .nickname
    {
        display: inline-block;
        margin-left: 1rem;
        position: relative;
        font-size: 1.1rem;
        bottom: 1.2rem;
    }

    .numWrapper
    {
        margin-bottom: 1.75rem;
        text-align: center;
    }

    .sayingNumWrapper, .articleNumWrapper
    {
        display: inline-block;
        text-align: center;
        color: #666;
        margin: 0 1.75rem;
    }

    .profileCardNum
    {
        margin-bottom: 0.5rem;
        color: #00A1D6;
    }

    .profileCardLabel
    {
        font-size: 0.8rem;
    }
}
