.ArticleFunctionButton
{
    width: 10rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #666;
    cursor: pointer;
    transition: 0.25s;
    margin-bottom: 4rem;
}

.ArticleFunctionButton:hover
{
    color: #46AFE8;
}

.articleFunctionButtonIcon
{
    margin-right: 0.5rem;
    font-size: 3rem;
}

.articleFunctionButtonIconClicked
{
    color: #46AFE8;
}

.articleFunctionButtonNumber
{
    display: inline-block;
    min-width: 1.5rem;
    font-size: 1.5rem;
}
