$MONOSPACE: "Source Code Pro", "Noto Sans Mono", monospace;
$SERIF: "Noto Serif CJK SC", "Source Han Serif", "思源宋体", "serif";
$SANS_SERIF: "Noto Sans CJK SC", "Source Han Sans", "思源黑体", "sans-serif";
