.ButtonArea .buttonIcon
{
    width: 1rem !important;
    margin-right: 0.25rem;
}

.ButtonArea .downloadButtonWrapper
{
    display: inline-block;
    margin: 0 1rem;
}

.ButtonArea .deleteButtonWrapper
{
    display: inline-block;
}
