.ButtonArea
{

}

.btn
{
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 0.5rem 1.75rem;
    font-size: 1rem;
    box-shadow: 1px 1px 3px #AAA;
    cursor: pointer;
    transition: 0.25s;
    background-color: #444;
    color: #EEE;
}

.btn-primary
{
    color: #FFF;
    background-color: #337AB7;
    border-color: #2E6DA4;
}

.btn-primary:hover
{
    color: #FFF;
    background-color: #286090;
    border-color: #204D74;
}

.btn-danger
{
    color: #FFF;
    background-color: #D9534F;
    border-color: #D43F3A;
}

.btn-danger:hover
{
    color: #FFF;
    background-color: #AC2925;
    border-color: #761C19;
}

.buttonIcon
{
    width: 1rem !important;
    margin-right: 0.25rem;
}

.DownloadButton
{
    margin: 0 1rem;
}
