#alertWrapper
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 9999;
}

.alert
{
    width: 25%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.alert
{
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-success
{
    color: #155724;
    background-color: #D4EDDA;
    border-color: #C3E6CB;
}

.alert-danger
{
    color: #721C24;
    background-color: #F8D7DA;
    border-color: #F5C6CB;
}
