.CardBodyListItem
{
    margin: 1.5rem 0;
}

.CardBodyListItem .titleWrapper
{
    overflow: hidden;
    text-overflow: ellipsis;
}

.CardBodyListItem .title
{
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-decoration: none;
    color: #333;
    white-space: nowrap;
    width: 100%;
}

.CardBodyListItem .numberArea
{
    display: inline-block;
}

.CardBodyListItem .numberWrapper
{
    display: inline-block;
    margin-right: 1.5rem;
}

.CardBodyListItem .icon
{
    display: inline-block;
    margin-right: 0.5rem;
}

.CardBodyListItem .number
{
    display: inline-block;
    min-width: 1.5rem;
}

.CardBodyListItem .timeArea
{
    display: inline-block;
    float: right;
}

.CardBodyListItem .infoWrapper
{
    color: #666;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}
