.ArticleListContainer
{
    .articleList-enter
    {
        opacity: 0;
        transform: translateY(3rem);

        &.articleList-enter-active
        {
            opacity: 1;
            transition: 500ms;
            transform: translateY(0);
        }
    }

    .articleList-leave
    {
        opacity: 1;

        &.articleList-leave-active
        {
            opacity: 0;
            transition: 1ms;
        }
    }
}
