@import "../../Static/Style/Constants.module";

.Options {
    padding: 1rem 2rem;
    background-color: #FFF;
    margin: 1rem 15rem;
    border-radius: 0.1rem;
    box-shadow: 0 0 3px #AAA;
    user-select: none;

    .navBarWrapper {
        margin-bottom: 2rem;
    }

    .optionComponent {
        @keyframes fadeIn {
            0% {
                opacity: 0;
                transform: translateY(3rem);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}