@import "../../../../../../Static/Style/Button.module";

.Uploader
{
    height: 50%;
    padding: 0 3rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border-bottom: 1px solid #333;

    .title
    {
        font-size: 3rem;
        margin-bottom: 3rem;
        color: #333;
        font-weight: bold;
    }

    .fileUploadForm
    {
        text-align: center;
        margin-bottom: 5rem;
    }

    .fileInputWrapper
    {
        @extend .PrimaryButton;
        display: inline-block;
    }

    .uploadProgressBarWrapper
    {

    }

    .fileInput
    {
        display: none;
    }

    .fileInputStatus
    {
        display: inline-block;
        margin: 0 1rem;
    }

    .fileUploadBtn
    {
        @extend .PrimaryButton;
    }
}
