.footer
{
    color: #DDD;
    background-color: #333;
    padding: 4rem 5rem 1rem 5rem;
    user-select: none;
    clear: both;
}

.thanksWrapper
{
    display: inline-block;
    width: 75%;
}

.thanks
{
    margin: 1rem 0;
}

.footerLink
{
    display: inline-block;
    margin: 0 0.25rem;
    text-decoration: none;
    color: #AAA;
}

.hitokotoLink
{
    text-decoration: none;
    color: #AAA;
}

.copyRight
{
    text-align: center;
    margin-top: 3rem;
    color: #AAA;
}

@keyframes emoji
{
    0%
    {
        transform: translateY(-1px) rotate(-1deg)
    }
    20%
    {
        transform: translateY(2px) rotate(0deg)
    }
    40%
    {
        transform: translateY(-1px) rotate(-1deg)
    }
    60%
    {
        transform: translateY(-2px) rotate(1deg)
    }
    80%
    {
        transform: translateY(2px) rotate(-2deg)
    }
    100%
    {
        transform: translateY(-2px) rotate(1deg)
    }
}

.emoji
{
    display: inline-block;
    text-align: center;
    width: 25%;
    font-size: 2rem;
    animation-name: emoji;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@media (max-width: 1455px)
{
    .thanksWrapper, .emoji
    {
        display: none;
    }

    .hitokotoLink
    {
        display: block;
        text-align: center;
    }
}

@media (max-width: 650px)
{
    .footer
    {
        padding: 2rem 1rem;
    }
}


