.banner
{
    height: 20rem;
    box-shadow: 0 0 10px #333;
    background-position-x: center;
    background-repeat: no-repeat;
}

@media (max-width: 750px)
{
    .banner
    {
        height: 2.75rem;
    }
}
