.MostPopularCardTab
{
    text-align: center;
    padding: 0.85rem 0;
    background-color: #F8F8F8;
    width: 100%;

    $borderStyle: 1px solid #DDD;
    border:
    {
        left: $borderStyle;
        right: $borderStyle;
        bottom: $borderStyle;
    }

    cursor: pointer;
    transition: 0.125s background-color, color;
    color: #666;

    &:first-child
    {
        border-left: none;
    }

    &:last-child
    {
        border-right: none;
    }

    &.currentTab
    {
        background-color: transparent;
        border-bottom: none;
        color: inherit;
    }
}
