.AboutMe
{
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.AboutMe .aboutMeContent
{
    text-indent: 2rem;
    color: #333;
    line-height: 2rem;
    user-select: none;
}

@media (max-width: 1000px)
{
    .AboutMe
    {
        width: 90%;
    }
}
