.TopBarMenu
{
    display: inline-block;
}

.TopBarMenu .floatMenu-enter
{
    opacity: 0;
}

.TopBarMenu .floatMenu-enter.floatMenu-enter-active
{
    opacity: 1;
    transition: 250ms;
}

.TopBarMenu .floatMenu-leave
{
    opacity: 1;
}

.TopBarMenu .floatMenu-leave.floatMenu-leave-active
{
    opacity: 0;
    transition: 250ms;
}
